<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnesstracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExCrunch"></activity>
        <activity android:name=".BMi_Chart" />
        <activity android:name=".BMIInfo" />
        <activity android:name=".ExLunge" />
        <activity android:name=".ExJogging" />
        <activity android:name=".ExMountainclimber" />
        <activity android:name=".ExPushup" />
        <activity android:name=".ExJumping_jack" />
        <activity android:name=".ExecirseInfo" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>